<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Logo" style="width: 90px; height: 60px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color:white;" href="/contact">Contact Us</a></li>
            <li><a class="dropdown-item" style="color:white;" href="/about">About Us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blogs/catagories">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/authenticate/logout">Logout</a>
        </li>
        <li class="nav-item ms-auto">
          <button id="toggle-dark-mode" class="btn btn-outline-light" style="width: 40px;margin-top:0px !important">
            <img src="/images/darkmode.png"  alt="Dark Mode">
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- CSS for Navbar -->
<style>
  .navbar {
    background-color: #343a40;
  }

  .navbar-brand img {
    width: 90px;
    height: 50px;
  }

  .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }

  .dropdown-menu {
    background-color: #343a40;
    border: none;
  }

  .dropdown-item {
    color: #fff;
    font-size: 16px;
  }

  .dropdown-item:hover {
    background-color: #495057;
    color: #ffc107;
  }

  #toggle-dark-mode {
    border: none;
    background: none;
  }

  #toggle-dark-mode img {
    width: 40px;
  }
</style>
