.login-container {
    max-width: 400px;
    margin: 100px auto;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #333;
    text-decoration: none;
}



/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .login-container {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

body.dark-mode h1 {
    color: #e0e0e0;
}

body.dark-mode form {
    display: flex;
    flex-direction: column;
}

body.dark-mode label {
    color: #e0e0e0;
    margin-bottom: 5px;
}

body.dark-mode input {
    padding: 10px; /* Adjusted for better contrast */
    margin-bottom: 10px;
    border: 1px solid #333;
    background-color: #333;
    color: #e0e0e0;
    border-radius: 5px;
}

body.dark-mode button {
    padding: 10px;
    background-color: #444;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode button:hover {
    background-color: #555;
}

body.dark-mode p {
    color: #e0e0e0;
    text-align: center;
    margin-top: 20px;
}

body.dark-mode a {
    color: #e0e0e0;
    text-decoration: none;
}
